.container {
  background-color: #ecececa6;
  padding: 2rem;
  margin-top: 1rem;
  --bkc: #2f303a;
}
:global(.dark) .container {
  background-color: var(--bkc);
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
}

.icons-container svg {
  border-radius: 10%;
  box-shadow: 1px 1px 3px 0px #d5d5d5;
  display: block;
  height: 5.4rem;
  margin: 0.94rem 0.63rem;
  position: relative;
  width: 5.4rem;
}

:global(.dark) .icons-container svg {
  box-shadow: 1px 1px 2px 0px #363743;
}

.featured {
  position: relative;
}

.featured::before {
  content: '⭐️';
  display: block;
  font-size: 0.62rem;
  height: 0.62rem;
  right: 0;
  position: absolute;
  transform: translate(-0.43rem, 0.37rem);
  width: 0.62rem;
  z-index: 1;
}

@media (max-width: 480px) {
  .icons-container {
    justify-content: space-around;
  }

  .icons-container svg {
    height: 4rem;
    width: 4rem;
  }
}
