.container {
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgb(188 188 188);
  margin-bottom: 1.1rem;
  padding: 0.8rem;
}

.company {
  display: flex;
  align-items: center;
}

.company_info {
  padding-left: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.job-position {
  font-size: 1.5rem;
}

.years {
  color: rgb(95, 95, 95);
  display: inline-block;
  margin-top: 0.3125rem;
}

:global(.dark) .years {
  color: rgb(157, 160, 169);
}

.button-container {
  margin-top: 0.5rem;
  min-height: 2rem;
}

.achievements {
  max-height: 0;
  overflow-y: hidden;
  padding-left: 0;
  transition: max-height 0.6s ease;
  width: 100%;
}

.open {
  max-height: 1000px;
}

.img {
  border-radius: 10%;
  box-shadow: 2px 2px 3px 0px rgb(188, 188, 188);
  height: 10rem;
  width: 10rem;
}

:global(.dark) .container {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(45, 54, 65, 1) 0%,
    rgb(42 99 111) 234%
  );
  box-shadow: none;
}

:global(.dark) .img {
  box-shadow: none;
}
