.button {
  background: #ffffff;
  border: 1px solid var(--secundary-color);
  border-radius: 0.3125rem;
  cursor: pointer;
  color: var(--secundary-color);
  display: flex;
  align-items: center;
  outline: none;
  padding: 0.3125rem;
}

:global(.dark) .button {
  background: var(--text-color);
}
