.container {
  margin-top: 0.5rem;
}
.container svg {
  border-radius: 100%;
  height: 1.4rem;
  width: 1.4rem;
}

.linkedin {
  background-color: #5b8fd8;
}

.codewars {
  background-color: #b1361e;
}

.github,
.codewars {
  margin-left: 1rem;
}

:global(.dark) .github {
  background-color: #ffffff;
}
