.nav {
  backdrop-filter: blur(12px);
  display: flex;
  height: 3rem;
  justify-content: end;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.btn-circle {
  background-color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  --btn-bkc-hover: rgba(226, 231, 238, 0.8);
}

.btn-circle,
.btn-circle svg {
  border-radius: 100%;
}

.btn-circle:hover {
  background-color: var(--btn-bkc-hover);
}

.btn-circle svg {
  color: var(--secundary-color);
  font-size: 2rem;
}

:global(.dark) .btn-circle:hover {
  --btn-bkc-hover: rgba(51, 65, 85, 0.8);
}
